.todoText{
    margin-top: 150px;
    margin-left: 550px;
}

.todoText input{
    margin-right: 10px;
    width: 500px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
}

.todoText button{
    cursor: pointer;
    height: 42px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 150px;
    font-size: larger;
}

.error-message{
    color: red;
}